body{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #76bdc5;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 200%;
    margin-left: 100px;
    min-width: 200px;
}

h2{
    margin-left: 50px;
    font-size: 150%;
    min-width: 200px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 100px;
  }

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

.navIcons{
    margin: auto 50px;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 100px 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about div{
    width: 80%;
    padding: 50px 50px;
    border-width: 0;
    border-left: 5px;
    border-style: solid;
    border-color: #76bdc5;
}

#about ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#descr{
    width: 60%;
    padding-left: 100px;
    min-width: 700px;
}

#about img{
    width: 175px;
    margin-right: 250px;
}

#portDiv{
    padding: 50px;
    border-width: 0;
    border-left: 5px;
    border-style: solid;
    border-color: #76bdc5;
    width: 80%;
}

#bigProject{
    width: 70%;
    margin: 0 100px;
}

#bigProject img{
    width: 100%;
}

#portDiv ul {
    display: flex;
    flex-wrap: wrap;
}

#smallProject{
    width: 300px;
    margin-top: 50px;
    margin-left: 100px;
}

#smallProject img{
    width: 100%;
}

#contact div {
    width: 80%;
    padding: 50px 100px;
    border-width: 0;
    border-left: 5px;
    border-style: solid;
    border-color: #76bdc5;
}

#contact ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 300px;
  }

.contactInfo{
    margin: auto 50px;
    border-width: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #76bdc5;
}

@media screen and (max-width: 1700px) {
    #about img{
        margin-top: 50px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 700px) {
    header {
        flex-wrap: wrap;
    }
    
    h1{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    section{
        display: inline;
    }

    header ul{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        margin-right: 0;
    }
    header li{
        width: 100%;
    }
    
    #about div{
        width: 100%;
        padding: 50px 50px;
        border-width: 0;
        border-left: 5px;
        border-style: solid;
        border-color: #76bdc5;
    }

    #descr{
        width: 30%;
        padding-left: 100px;
        min-width: 400px;
    }
}